@font-face {
  font-family: "iconfont";
  /* Project id 3750219 */
  src: url('@/static/iconfont/iconfont.woff2?t=1667548680515') format('woff2'),
    url('@/static/iconfont/iconfont.woff?t=1667548680515') format('woff'),
    url('@/static/iconfont/iconfont.ttf?t=1667548680515') format('truetype');
}

[class*="roc-icon-"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.roc-icon-log:before {
  content: "\e61c";
}

.roc-icon-row:before {
  content: "\e638";
}

.roc-icon-redis-list:before {
  content: "\e684";
}

.roc-icon-time-range:before {
  content: "\e634";
}

.roc-icon-validCode:before {
  content: "\e636";
}

.roc-icon-dict:before {
  content: "\e603";
}

.roc-icon-druid:before {
  content: "\e643";
}

.roc-icon-github:before {
  content: "\e673";
}

.roc-icon-edit:before {
  content: "\e649";
}

.roc-icon-time:before {
  content: "\e65f";
}

.roc-icon-list:before {
  content: "\e682";
}

.roc-icon-question:before {
  content: "\e691";
}

.roc-icon-message:before {
  content: "\e6bc";
}

.roc-icon-lock:before {
  content: "\e6c0";
}

.roc-icon-form:before {
  content: "\e6a2";
}

.roc-icon-money:before {
  content: "\e663";
}

.roc-icon-people:before {
  content: "\e736";
}

.roc-icon-post:before {
  content: "\e759";
}

.roc-icon-date:before {
  content: "\e697";
}

.roc-icon-tree:before {
  content: "\e63c";
}

.roc-icon-language:before {
  content: "\eb23";
}

.roc-icon-download:before {
  content: "\e6cf";
}

.roc-icon-button:before {
  content: "\e65d";
}

.roc-icon-phone:before {
  content: "\e725";
}

.roc-icon-zip:before {
  content: "\e741";
}

.roc-icon-eyeopen:before {
  content: "\e71b";
}

.roc-icon-icon:before {
  content: "\e65b";
}

.roc-icon-radio:before {
  content: "\e631";
}

.roc-icon-system:before {
  content: "\e6a6";
}

.roc-icon-chart:before {
  content: "\e600";
}

.roc-icon-color:before {
  content: "\e760";
}

.roc-icon-wechat:before {
  content: "\e6b4";
}

.roc-icon-monitor:before {
  content: "\e601";
}

.roc-icon-server:before {
  content: "\e602";
}

.roc-icon-Redis:before {
  content: "\e6a3";
}

.roc-icon-dashboard:before {
  content: "\e78b";
}

.roc-icon-eye:before {
  content: "\e78f";
}

.roc-icon-user:before {
  content: "\e7ae";
}

.roc-icon-shopping:before {
  content: "\e7cf";
}

.roc-icon-select:before {
  content: "\e7d4";
}

.roc-icon-table:before {
  content: "\e7de";
}

.roc-icon-fullscreen:before {
  content: "\e7ec";
}

.roc-icon-number:before {
  content: "\e7f8";
}

.roc-icon-code:before {
  content: "\e7fc";
}

.roc-icon-drag:before {
  content: "\e842";
}

.roc-icon-tab:before {
  content: "\e829";
}

.roc-icon-education:before {
  content: "\e632";
}

.roc-icon-pdf:before {
  content: "\e665";
}

.roc-icon-email:before {
  content: "\e675";
}

.roc-icon-bug:before {
  content: "\ec63";
}

.roc-icon-slider:before {
  content: "\e64d";
}

.roc-icon-excel:before {
  content: "\e611";
}

.roc-icon-guide:before {
  content: "\e615";
}

.roc-icon-input:before {
  content: "\e619";
}

.roc-icon-international:before {
  content: "\e61a";
}

.roc-icon-nested:before {
  content: "\e61f";
}

.roc-icon-rate:before {
  content: "\e625";
}

.roc-icon-size:before {
  content: "\e62a";
}

.roc-icon-textarea:before {
  content: "\e62f";
}

.roc-icon-theme:before {
  content: "\e635";
}

.roc-icon-date-range:before {
  content: "\e88c";
}

.roc-icon-build:before {
  content: "\e6e5";
}

.roc-icon-tool:before {
  content: "\e70c";
}

.roc-icon-skill:before {
  content: "\e604";
}

.roc-icon-tree-table:before {
  content: "\e63e";
}

.roc-icon-qq:before {
  content: "\e629";
}

.roc-icon-documentation:before {
  content: "\e60c";
}

.roc-icon-example:before {
  content: "\e60d";
}

.roc-icon-online:before {
  content: "\e612";
}

.roc-icon-peoples:before {
  content: "\e613";
}

.roc-icon-icon-test:before {
  content: "\e61e";
}

.roc-icon-swagger:before {
  content: "\e620";
}

.roc-icon-password:before {
  content: "\e75b";
}

.roc-icon-clipboard:before {
  content: "\e626";
}

.roc-icon-star:before {
  content: "\e686";
}

.roc-icon-component:before {
  content: "\e621";
}

.roc-icon-checkbox:before {
  content: "\e61b";
}

.roc-icon-job:before {
  content: "\e65a";
}

.roc-icon-link:before {
  content: "\e676";
}

.roc-icon-search:before {
  content: "\e67d";
}

.roc-icon-switch:before {
  content: "\e67f";
}

.roc-icon-upload:before {
  content: "\e683";
}

.roc-icon-exit-fullscreen:before {
  content: "\e622";
}

.roc-icon-cascader:before {
  content: "\e624";
}

.roc-icon-logininfor:before {
  content: "\e62b";
}
